.col {
    margin: 25px;
    display: flex;
    justify-content: center;
    height: 550px;
}

.card-text > input {
    margin: 10px;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.row {
    margin: 50px;
    padding-top: 10%;
    z-index: 100;
    justify-content: center;
    display: flex;
}

.btn-primary {
    width: 100%;
    margin: 25px;
}

.card {
    height: 450px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(100px);
    /* max-width: 750px; */
    margin-left: 20%;
    margin-right:30%;
    min-height: fit-content;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-header {
    text-align: center;
}

.card-body > form > input {
    width: 100%;
    margin-bottom: 20px;
}

.Login__backgroundImage {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    width: 100%;
    margin-bottom: -15%;
}

.Login {
    display: flex;
    flex-direction: column;
    background-image: url("../Coffee_Abstract.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-color: blanchedalmond; */
    /* height: 100%; */
}
